/* Styling for the Add New Flight page */
.add-flight-page {
    background-image: url(../Images/main-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8vh;
    width: 100%;
    height: 84vh;
}

.add-flight-input-field {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    font-family: "Parkinsans", sans-serif;
}

.add-flight-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
    padding: 25px;
    width: 32vw;
    text-align: center;
}

.add-flight-title {
    font-size: 26px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
    font-family: "Parkinsans", sans-serif;
}

.add-flight-form .row {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.add-flight-button {
    background-color: #056705;
    font-family: "Parkinsans", sans-serif;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-flight-button:hover {
    background-color: #024b02;
}

.add-flight-error-message {
    color: red;
    font-size: 11px;
    background: #ffe9ed;
    font-family: 'Poppins';
    padding: 10px;
}

.success-message {
    color: green;
    font-size: 12px;
    margin-top: 10px;
}
