*{
    margin: 0;
    padding: 0;
}

.flightListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10vh;
}

.flightListItem {
    margin-top: 25px;
    padding: 18px 30px;
    display: flex;
    background: #fff;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(2 81 10 / 35%) 0px 0px 5px;
    border: 1px solid green;
}

.flightName{
}

.flightName h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 6px 0;
}

.flightNameImg{
    display: flex;
    flex-direction: row;
    color: #e9ba11;
    align-items: center;
}

.flightNameImg p{
    font-size: 20px;
    font-weight: 400;
    padding-left: 4px;
}

.flightOriginDestination{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.flightOriginDestination p{
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

.flightPriceBookSeatContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.flightPriceBookSeatContainer h3{
    font-family: "Parkinsans", sans-serif;
    font-weight: 500;
    color: green;
}

.flightPriceBookSeatContainer p{
    font-family: "Parkinsans", sans-serif;
    font-size: 15px;
}

.flightPriceBookSeatContainer button{
    border: none;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 4px;
    color: white;
    font-family: "Parkinsans", sans-serif;
    background-color: #0d9348;
    margin-top: 4px;
    transition: 0.3s ease-in;
}


.flightPriceBookSeatContainer button:hover{
    background-color: #01672d;
    box-shadow: rgb(0, 0, 0, 0.25) 0 0px 3px;
}


.flightIdImg{
    width: 20px;
    height: 20px;
}


.No-Matching-Flights-Error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 30px;
}

.No-Matching-Flights-Error p{
    font-family: poppins;
    font-size: 25px;
    color: red;
    background: #ffe1e7;
    padding: 10px;
    border-radius: 15px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }