@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.flightSearchContainer {
    background-image: url("../Images/main-bg.png");
    width: 100vw;
    height: 84vh;
    position: relative;
    top: 8vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 5vw;
    box-sizing: border-box;
}

.flightSearchContainer-leftHeading {
    font-size: 50px;
    color: #535355;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: left;
    letter-spacing: -2px;
}

.flightSearchContainer-leftHeading span {
    color: #088c42;
}

.flightSearchContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37rem;
  padding: 39px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
}

.destinationInput, .originInput, .DatePicker {
    font-family: "Parkinsans", sans-serif;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    color: #393838;
}

.flightSearchContainer form select::placeholder,
.flightSearchContainer form input::placeholder {
    font-family: "Parkinsans", sans-serif;
    font-size: 16px;
    color: #999;
}

.originDestinationContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 32rem;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.inputIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.originInput, .destinationInput, .DatePicker {
    padding-left: 40px;
}

.dateContainer {
    margin-top: 20px;
    width: 100%;
}

.dateWrapper {
    position: relative;
    width: 100%;
}

.DatePicker {
  border: 1px solid #999;
  border-radius: 5px;
  height: 40px;
  padding-left: 40px;
  width: 32rem;
  box-sizing: border-box;
}

.calendarIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.SearchButton {
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #0d9348;
    cursor: pointer;
    padding: 10px 20px;
    font-family: "Parkinsans", sans-serif;
    font-size: 18px;
    border-radius: 7px;
    transition: 0.2s ease-in;
    width: 100%;
}

.SearchButton:hover {
    background-color: #0a6e35;
}

.SearchButton:disabled {
  background-color: #707271;
  cursor: not-allowed;
}
