/* Styling for rows to align inputs side by side */
.row {
    display: flex;
    gap: 15px;
    /* margin-bottom: 20px; */
}

.input-field {
    flex: 1; /* Ensures input fields take equal width */
}

.full-width {
    width: 94%;
}

.register-page {
    background-image: url(../Images/main-bg.png);
    background-size: cover;
    display: flex;
    top: 8vh;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84vh;
}

.register-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 400px; /* Increased width to accommodate two columns */
    text-align: center;
}

.register-title {
    font-size: 26px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
    font-family: "Parkinsans", sans-serif;
}

.register-button {
    background-color: #0d9348;
    font-family: "Parkinsans", sans-serif;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #037835;
}

.login-link {
    color: #00897b;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.login-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
