.seat-selection {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .seat-plan {
    display: flex;
    padding-bottom: 5vh;
    flex-direction: column;
    align-items: center;
  }
  
  .front, .rear {
    font-size: 16px;
    font-family: "Parkinsans", sans-serif;
    color: #36016c;
    padding: 3px;
  }
  
  .seat.booked {
    background-color: rgb(229, 59, 59);
    cursor: not-allowed;
  }
  
  .seat.selected {
    background-color: #11b95a;
  }
  
  .seat.available:hover {
    background-color: #18df6e;
  }
  
  .seat-row {
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.available {
  background-color: #d8d8d8;
}


/* ------------------- */
.seat-selection-container {
  display: flex;
  gap: 8vw;
  padding: 25px;
  justify-content: center;
  align-items: start;
  position: relative;
  top: 7vh;
}
  
  .selected-seats-summary {
    width: 30%;
    padding: 20px;
    top: 16vh;
    position: sticky;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: 'poppins';
    margin-top: 4vh;
    margin-bottom: 6vh;
  }
  
  .selected-seats-summary h3 {
        margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #e9ba11;
  }
  
  .selected-seats-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
.selected-seat-table-head{
    background: #0d9348;
    color: white
}

.selected-seat-table-head tr th{
    font-weight: 600;
}


  .selected-seat-table-subtotal{
    border-bottom: 1px solid gray;
    border-collapse: collapse;
  }

  .selected-seats-summary table th,
  .selected-seats-summary table td {
    padding: 8px;
    text-align: left;
  }

  .selected-seats-summary table td{
    border-bottom: 1px solid #cecece
  }
  
  .continue-button {
    width: 100%;
    padding: 7px;
    font-size: 17px;
    font-family: "Parkinsans", sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #0d9348;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .continue-button:hover {
    background-color: #066e33;
  }
  

  /* ----------- */
  .seat-allocation-guide{
    position: sticky;
    top: 27vh;
    margin-top: 15vh;
  }

 .seat-allocation-guide span{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 7px;
 }

 .seat-allocation-guide div{
    font-family: "Parkinsans", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
 }

 .guide-booked{
    background-color: rgb(229, 59, 59);
 }

 .guid-available{
    background-color: #d8d8d8;
 }

 .guid-selected{
    background-color: #11b95a;
 }

 .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}